<div class="login">
  <form class="login-form" name="LoginForm">
    <div class="login-form--forgot">
      <p class="bg-light forgot-text forgot-recovery">{{ 'CHANGE_PASSWORD' | translate }}</p>
    </div>
    <div class="help-block alert-danger" ng-messages="LoginForm.email.$error" ng-if="LoginForm.email.$touched">
      <p ng-message="required">Your email is required.</p>
    </div>
    <div class="login-form--inputs">
      <div class="input-container">
        <span class="icon-input i-password"></span>
        <input class="login-form--inputs__blue" type="password" name="password" ng-model="change.password" placeholder="{{ 'NEW_PASSWORD'  | translate }}" required /><br>
      </div>
      <div class="input-container">
        <span class="icon-input i-password"></span>
        <input class="login-form--inputs__blue" type="password" name="password" ng-model="change.confirm" placeholder="{{ 'VERIFY' | translate }}" required /><br>
      </div>
    </div>
    <div class="login-form--submit">
      <a href="" class="bt bt-primary" ng-click="changePassword(change)">{{ 'SEND_PASSWORD' | translate }}</a>
    </div>
    <br>
    <br>
    <br>
  </form>
  <div class="login-footer">
    <div class="login-footer--content">
      <a href="" class="login-footer--link"><img src="../images/login/logo_bizmerk_footer-01.png" alt=""></a>
      <span class="divider"></span>
      <a href="" class="login-footer--link">Contacto</a>
      <span class="divider"></span>
      <a href="" class="login-footer--link">Ayuda</a>
    </div>
  </div>
</div>
