<div class="login">
  <form class="login-form" name="LoginForm">
    <div class="login-form--forgot">
      <h2 class="bg-light forgot-text forgot-recovery">{{ 'WE_SENT_YOU_AN_RECOVERY_EMAIL' | translate }}</h2>
    </div>
    <br>
    <br>
    <br>
  </form>
  <div class="login-footer">
    <div class="login-footer--content">
      <a href="" class="login-footer--link"><img src="../images/login/logo_bizmerk_footer-01.png" alt=""></a>
      <span class="divider"></span>
      <a href="" class="login-footer--link">Contacto</a>
      <span class="divider"></span>
      <a href="" class="login-footer--link">Ayuda</a>
    </div>
  </div>
</div>
