<div class="signup">
  <div class="signup-form">
    <div class="signup-form--inputs">
      <div class="signup-form--inputs">
        <div class="twice">
          <input class="signup-form--inputs__blue" type="text" placeholder="¿Cuantos empleados tienes?" required>
          <input class="signup-form--inputs__blue" type="password" placeholder="¿Cuantos cargo posees?" required>
        </div>
      </div>
      <div class="signup-form--inputs">
        <div class="twice">
          <input class="signup-form--inputs__blue" type="email" placeholder="¿Cual es tu area?" required>
          <input class="signup-form--inputs__blue" type="url" placeholder="¿Que CRM usas actualmente?" required>
        </div>
        <div class="twice">
          <textarea class="signup-form--inputs__blue" type="text" placeholder="¿Que servicios ofrece tu compañia?" required></textarea>
          <textarea class="signup-form--inputs__blue" type="tel" placeholder="¿Cual es tu desafio mas grande en marketing?" required></textarea>
        </div>
      </div>
    </div>
    <div class="signup-form--submit">
      <a href="" class="bt bt-primary" ng-click="signUp()">Iniciar sesión ahora mismo </a>
    </div>
  </div>
  <div class="signup-footer ">
    <div class="signup-footer--content">
      <a href="" class="signup-footer--link"><img src="../images/login/logo_bizmerk_footer-02.png" alt=""></a>
      <span class="divider"></span>
      <a href="" class="signup-footer--link">Contacto</a>
      <span class="divider"></span>
      <a href="" class="signup-footer--link">Ayuda</a>
    </div>
  </div>
</div>
