<h1>Dashboard</h1>
<div class="bz-panel bz-announcement">
  <h3 class="bz-panel-title">Bienvenidos a Bizmerk</h3>
  <p class="bz-panel-text">Aca tienes algunos links de interes para comenzar</p>
  <div class="sections">
    <h3 class="bz-panel-title">¡Comencemos!</h3>
    <button ui-sref="app.campaigns" href="" class="bt bt-primary">Crea una Campaña</button>
  </div>
  <div class="sections">
    <h3 class="bz-panel-title">Crea</h3>
    <p class="bz-panel-text"><i class="bz-icon-s icon-campanas icon-color-primary"></i> Campañas</p>
    <p class="bz-panel-text"><i class="bz-icon-s icon-landingpage icon-color-primary"></i> Landing Pages</p>
    <p class="bz-panel-text"><i class="bz-icon-s icon-email icon-color-primary"></i> Emails</p>
  </div>
  <div class="sections">
    <h3 class="bz-panel-title">Maneja</h3>
    <p class="bz-panel-text"><i class="bz-icon-s icon-contactos icon-color-primary"></i> Contactos</p>
    <p class="bz-panel-text"><i class="bz-icon-s icon-reportes icon-color-primary"></i> Reportes</p>
  </div>
</div>
