<div class="succes-msg">
  <span class="bz-icon-m icon-activo"></span>
  <span class="bz-icon-m icon-inactivo"></span>
  <p class="alert-msg">{{ 'SUCCESS_CREATE_CAMPAIGN' | translate }}</p> 
  <p class="alert-msg">{{ 'ERROR_CREATE_CAMPAIGN' | translate }}</p>    
  <p class="alert-msg">{{ 'SUCCESS_CREATE_CONTACT' | translate }}</p> 
  <p class="alert-msg">{{ 'ERROR_CREATE_CONTACT' | translate }}</p> 
  <p class="alert-msg">{{ 'SUCCESS_UPDATE_CONTACT' | translate }}</p> 
  <p class="alert-msg">{{ 'ERROR_UPDATE_CONTACT' | translate }}</p>       
  <p class="alert-msg">{{ 'SUCCESS_DELETE_CONTACT' | translate }}</p> 
  <p class="alert-msg">{{ 'ERROR_DELETE_CONTACT' | translate }}</p>  
</div>
