<a class="back-to-list" ui-sref="app.contacts" class=""><i class="bz-icon arrow-icon icon-izquierda">
</i>{{"BACK_TO_LIST" | translate}}</a>
<br>
<br>
<br>
<div class="bz-panel">

	<div class="container-data container-data-1">
		<h2 class="text-orange">{{ contact.firstName}} {{contact.lastName || ""}}</h2>
		<h4 class="text-blue">{{ contact.email }}</h4>
		<h4 class="text-grey">{{ contact.country }}</h4>
	</div>

	<div class="container-data container-data-2">
		<br>
		<h4 class="text-grey"><i class="icon-visitas contact-icon"></i>{{ contact.address }}</h4>
		<h4 class="text-blue"> <i class="icon-telefono contact-icon"></i> <span> {{ contact.phone }} </span></h4>
		<h4> <i class="icon-url contact-icon"></i>{{ contact.webSite }}</h4>
	</div>
</div>
<br>
<!--<h4 class="subtitle">ACTIVIDAD DEL CONTACTO</h4>-->
<!--<br>-->
<!--<div class="bz-panel-w">-->
	<!--<div class="container-data center">-->
		<!--<h4 class="center">-->
			<!--<div class="circle orange"></div>-->
			<!--<a href="">-->
		      <!--Conversaciones-->
		    <!--</a>-->
		    <!--<span class="divider"></span>-->
		    <!--<div class="circle dark-blue"></div>-->
		    <!--<a href="">-->
		      <!--Comentarios-->
		    <!--</a>-->
		    <!--<span class="divider"></span>-->
		    <!--<div class="circle cyan"></div>-->
		    <!--<a  href="">-->
		      <!--Paginas Visitadas-->
		    <!--</a>-->
		    <!--<span class="divider"></span>-->
		    <!--<div class="circle blue"></div>-->
		    <!--<a  href="">-->
		      <!--Eventos-->
		    <!--</a>-->
		    <!--<span class="divider"></span>-->
		    <!--<div class="circle light-green"></div>-->
		    <!--<a href="">-->
		      <!--CTA's-->
		    <!--</a>-->
		    <!--<span class="divider"></span>-->
		    <!--<b>-->
			    <!--<a href="">-->
			      <!--Formularios-->
			    <!--</a>-->
			    <!--<span class="divider"></span>-->
			    <!--<a href="">-->
			      <!--Historial de Compras-->
			    <!--</a>-->
		    <!--</b>-->
	    <!--</h4>-->
	<!--</div>-->
	<!--<br>-->
	<!--<div class="activities-body container-data">-->
		<!--<div class="inline-block">-->
			<!--<div class="circle dark-blue inline-content"></div>-->
			<!--<h4 class="text-orange inline-content">Comentario en Hello World</h4>-->
			<!--<h5 class="inline-content">July 29th, 2014 at 7:58pm (Tuesday)</h5>-->
			<!--<h5 class="text-grey">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quaerat tempora ea autem natus dolore in iste culpa esse? Commodi unde, hic accusantium earum. Veritatis sit minima ratione laborum, libero?"</h5>-->
		<!--</div>-->

		<!--<div class="inline-block">-->
			<!--<div class="circle dark-blue inline-content"></div>-->
			<!--<h4 class="text-orange inline-content">Comentario en Hello World</h4>-->
			<!--<h5 class="inline-content">July 29th, 2014 at 7:58pm (Tuesday)</h5>-->
			<!--<h5 class="text-grey">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quaerat tempora ea autem natus dolore in iste culpa esse? Commodi unde, hic accusantium earum. Veritatis sit minima ratione laborum, libero?"</h5>-->
		<!--</div>-->

		<!--<div class="inline-block">-->
			<!--<div class="circle cyan inline-content"></div>-->
			<!--<h4 class="inline-content">Paginas Vistas</h4>-->
			<!--<h5 class="inline-content"> 254 - Chrome - Windows 8.1</h5>-->
			<!---->
		<!--</div>-->

		<!--<div class="inline-block">-->
			<!--<div class="circle blue inline-content"></div>-->
			<!--<h4 class="inline-content">Eventos</h4>-->
			<!--<h5 class="inline-content text-grey">Not Found</h5>-->
			<!---->
		<!--</div>-->

		<!--<div class="inline-block">-->
			<!--<div class="circle light-green inline-content"></div>-->
			<!--<h4 class="inline-content">CTA's</h4>-->
			<!--<h5 class="inline-content text-grey">Not Found</h5>-->
			<!---->
		<!--</div>-->
	<!--</div>-->
	<!---->
<!--</div>-->
