<a class="back-to-list" ui-sref="app.contacts" class=""><i class="bz-icon arrow-icon icon-izquierda">
</i>{{"BACK_TO_LIST" | translate}}</a>

<h1>{{ 'EDIT_CONTACT' | translate }}</h1>




<form method="post" class="" ng-submit="editContact(contact)">
	<div class="form-container bz-panel">
		<div class="cont-2-input">
			<input type="text" ng-model="contact.firstName" placeholder="{{ 'FIRST_NAME' | translate}} *" class="input-2-col" id="LettersOnly" only-letters-input title="{{ 'REQUIRED_NAME' | translate}}" required>

			<input type="text" ng-model="contact.lastName" placeholder="{{ 'LAST_NAME' | translate}}" class="input-2-col"id="LettersOnly" only-letters-input title="{{ 'LAST_NAME' | translate}}" >
		</div>
		<div class="cont-2-input">
			<input type="email"  ng-model="contact.email" placeholder="{{ 'EMAIL' | translate}} *" class="input-2-col email-white height-inp" required>
			<div class="cont-1-input">
        <select class="input-1-col" name="{{ 'COUNTRY' | translate}}" ng-model="contact.country"
                pvp-country-picker>
          </select>
				<i class="icon-abajo icon-arrow-pos" ></i>
			</div>
		</div>
			<input type="text" placeholder="{{ 'ADDRESS' | translate}}" class="input-1-col" ng-model="contact.address">

		<div class="cont-2-input">
	         <input type="tel" placeholder="{{ 'PHONE' | translate}}" only-numbers-input maxlength="18" class="white height-inp input-2-col" ng-model="contact.phone" id="phone">

			<input type="text" placeholder="{{ 'POSTAL_CODE' | translate}}" only-numbers-input class="input-2-col"
             ng-model="contact.postalCode">
		</div>

		<div class="cont-2-input">
			<input type="text" placeholder="{{ 'COMPANY_NAME' | translate}} " class="input-2-col" ng-model="contact.companyName">

			<input type="url" placeholder="{{ 'WEB_SITE' | translate}}" class="white input-2-col height-inp" ng-model="contact.webSite">
		</div>
	</div>
	<br>
	<div class="bz-panel-w">
		<div class="cont-2-input">
			<!--<div class="input-2-col">-->
				<!--<select name="" id="" class="select-contact" ng-model="contact.published"><option value="">{{ 'PUBLISHED' | translate}} </option></select>-->
				<!--<i class="icon-abajo icon-arrow-pos" ></i>-->
			<!--</div>-->
			<!-- <div class="input-2-col">
				<select name="" id="" class="select-contact" ng-model="contact.priority"><option value="">{{ 'PRIORITY' | translate}} </option></select>
				<i class="icon-abajo icon-arrow-pos" ></i>
			</div>
		</div>
		<div class="cont-2-input">
			<!-- <div class="input-2-col">
				<select name="" id="" class="select-contact" ng-model="contact.status"><option value="">{{ 'STATUS' | translate}} </option></select>
				<i class="icon-abajo icon-arrow-pos" ></i>
			</div> -->
			<div class="input-2-col">
        <select name="" id="" class="select-contact" ng-model="contact.campaing_id"><option value="">{{ 'CAMPAIGN' |
          translate}} </option>
          <option ng-repeat="camp in campaigns" ng-selected="contact.campaing_id == camp.id" value="{{camp.id}}">{{
            camp.name }} </option>
        </select>
				<i class="icon-abajo icon-arrow-pos" ></i>
			</div>
		<!--</div>-->
		<!--<div class="cont-2-input">-->
			<!--<div class="input-2-col">-->
				<!--<select name="" id="" class="select-contact" ng-model="contact.addList"><option value="">{{ 'ADD_LIST' | translate}}</option></select>-->
				<!--<i class="icon-abajo icon-arrow-pos" ></i>-->
			<!--</div>-->
<!--
			<div class="input-2-col">
				<select name="" id="" class="select-contact" ng-model="contact.tags"><option value="">{{ 'TAGS' | translate}}</option></select>
				<i class="icon-abajo icon-arrow-pos" ></i>
			</div>
-->
		</div>
		<button class="bt bt-primary bt-position-contact">{{ 'UPDATE_CONTACT' | translate}}</button>
	</div>
</form>
